.element{
  margin:50px;
  width: 300px;
  background-color: lavender;
  float:left;
  text-align: center;
  margin-left: 85px;
  position: relative;
}
img{
  overflow: hidden;
}


.ii{
  border: 4px black solid;
  margin: 5px;
  transition: ease-in-out 0.1s;
}

.title{
  height: 70px;
  background-color: ghostwhite;
  text-align: center;
  font-size: xx-large;
  &:hover{
    background-color: honeydew;
    font-size: xxx-large;
    color: brown;
  }
  transition: ease-in-out 0.2s;
}

.image{
  padding: 4px;
  overflow: hidden;
  &:hover{
    background-color: seashell;
    img{
      height: 200px;
    }
  }
}


h4, img{
  transition: ease-in-out 0.4s;
}

.shop-data-image{
  overflow: hidden;
  width: 200px;
  height: 260px;
  &:hover{
    transform: rotate(30deg);
  }
}

button{
  &:hover{
    background-color:seashell;
    color:black;
  }
}