.nav-item{
  flex: 1;
  text-align: center;
  background-color: ghostwhite;
  margin: 10px;
  height: 100px;
  font-size: xx-large;
  border-radius: 40px;
  &:hover{
    background-color: powderblue;
  }
  transition: ease-in-out 0.22s;
  text-decoration: none;
}

.navbar{
  display: flex;
}