.nav-item{
  flex: 1;
  text-align: center;
  margin: 10px;
  font-size: xx-large;
  &:hover{
    color: brown;
    transform: scale(1.6);
  }
  transition: ease-in-out 0.22s;
  text-decoration: none;
}

.navbar{
  display: flex;
}