.form-input {
  margin: 10px;
  padding: 6px;
  border-radius: 20px;

  &:focus {
    transform: scale(1.5);

    .label {
      background-color: brown;
    }
  }

  transition: ease-in-out 0.2s;
}

.label {
  margin-left: 30px;
  height: 30px;
}

.group {

}